<div class="container">

  {{!-- heading --}}
  <div class="row center-align margin-top-100px">
    <div class="col s12">
      <h1>Hai! I Love Rainbows!</h1>
    </div>
  </div>
  {{!-- end heading --}}
  <div class="row center-align">
    <div class="col s12">
      <h3>Here's a game! Which button will give you the rainbow?</h3>
    </div>
  </div>
  {{!-- buttons --}}
  <div class="row center-align margin-top-100px">
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large pink'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large pink lighten-2'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large pink lighten-4'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large yellow'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large light-green'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large green'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large light-blue lighten-1'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large blue'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large purple lighten-2'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large purple'}}
    </div>
    <div class="col s1">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large purple darken-2'}}
    </div>
  </div>
  {{!-- end buttons --}}

  {{!-- heading --}}
  <div class="row center-align margin-top-100px">
    <div class="col s12">
      <h5>Special thanks to <a href="http://twitter.com/spencer516">@spencer516</a> &amp; <a href="http://twitter.com/jeremy_w_rowe">@jeremy_w_rowe</a> for pairing with me on this. :)</h5>
    </div>
    <div class="col s12">
      <h5>Made with love by me, <a href="http://twitter.com/ladyleet">@ladyleet</a>.</h5>
    </div>
  </div>
  {{!-- end heading --}}

  {{!-- github --}}
  <div class="row center-align margin-top-100px">
    <div class="col s12">
      {{md-btn icon='mdi-action-favorite' buttonType='floating'  class='btn-large pink'}}
    </div>
    <div class="col s12 margin-top-10px">
      Find this on <a href="https://github.com/ladyleet/rainbow-tail-app">github</a>
    </div>
  </div>
  {{!-- end github --}}

  {{rainbow-master rainbowClass='yellow'}}

</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
